/* App-wide styling */
body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

#header {
    max-width: 1200px;
}


/* =============== APPLICATION =============== */


.app-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 50px 1fr;
    height: 100vh;
}

/* =============== TOP BAR =============== */

.top-bar {
    display: flex;

    background-color: #222;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    color: white;

    grid-column: 2;
    position: fixed;
    z-index: 2;

    height: 50px;
    width: calc(100% - 250px);
    top: 0px;
    left: 250px;
}

.top-bar-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: left;
    
    padding: 0px 15px;
    font-size: 18px;
}

.arrows-path-navigation {
    width: 15px;
    height: 15px;
    padding-right: 6px;
    filter: invert(100%);
    opacity: 0.4;
}



/* =============== SIDE BAR =============== */

.side-bar {
    background-color: rgb(30, 30, 30);
    border-right: 2px solid #333;
    color: white;

    grid-row: 1 / 3;
    position: fixed;
    overflow-y: auto;
    z-index: 3;

    width: 250px;
    height: 100vh;
}

.side-bar-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 15px;
}

.side-bar-entry {
    margin-top: 15px;
    padding-left: 4px;
    padding-bottom: 8px;
}

.divider {
    border: 2px solid white;
    border-radius: 2px;
    margin-top: 10px;
    opacity: 0.4;
}


/* =============== FILE GRID =============== */
.file-grid {
    grid-column: 2;
    z-index: 1;
    padding-top: 10px;
    padding-left: 0px;
}

.folder, .file {

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80px;
    height: 80px;
    padding: 8px;

    font-size: 12px;
    word-wrap: break-word;
    text-align: center;
    overflow-wrap: break-word;

    &:hover {
        background-color: #1f1f1f;
        cursor: pointer;
    }

    .file-img {
        width: 50px;
        height: 50px;
        filter: invert(100%); /* used for inverting black to white on the svg */
    }

    .folder-img {
        width: 50px;
        height: 50px;
    }
}


/* GENERAL */

/* bootstrap-esque styling */
.button {
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}

.button-primary {
    background-color: rgb(3, 22, 51);
    border: 4px solid rgb(8, 66, 152);
    color: #6ea8fe;
}

.button-secondary {
    cursor: pointer;
    background-color: #161719;
    border: 1px solid #41464b;
    color: #a7acb1;
}

.icon {
    opacity: 0.4;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}



